body{font-family: 'Lato', sans-serif;
    color: white;
    background: #222
}

a:link, a:visited
{text-decoration: none;
color: white;}

h1{text-align: center;
    }

    #menu:hover{cursor: pointer;}

#menu
{margin-bottom:10px;
max-width:120px;
max-height:120px;}

.list{list-style-type: none;
    display: none;}

.listStyle{
display: inline-block;}

.li{float: left;
margin-top: 15px;
margin-right: 15px;}

#gallery{
float: left;
margin-top: 15px;
height: auto;
min-width: 40%

}


#content
{   margin-left: 15px;
    float: left;
    margin-top: 15px;
    max-width: 40%;
    
}

.image
{width: 100%;
height: auto;}
